@page "/dashboard"
@using GlitchGame.Web.Components.Dashboard
@layout Components.Layout.EmptyLayout

<div id="questionPopup"></div>
<div id="pageContent">
    <div id="map">
        <Map />
    </div>
    <div id="chat">
        <Chat />
    </div>
</div>

@code {

}
